[submodule "learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/tensorflow_cookbook"]
	path = learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/tensorflow_cookbook
	url = https://github.com/nfmcclure/tensorflow_cookbook.git
