learn/ipython/Interactive Data Analysis with pandas/nyc_taxi.zip
learn/ipython/Interactive Data Analysis with pandas/data/
learn/ipython/Numerical Computing with numpy/nyc_taxi.zip
learn/ipython/Numerical Computing with numpy/data

