learn/ipython/Interactive Data Analysis with pandas/nyc_taxi.zip
learn/ipython/Interactive Data Analysis with pandas/data/
learn/ipython/Numerical Computing with numpy/nyc_taxi.zip
learn/ipython/Numerical Computing with numpy/data/
learn/tensorflow/www.tensorflow.org/MNIST_data/
learn/tensorflow/www.tensorflow.org/logs/
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/MNIST_data/
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/spamdata/
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/smsspamcollection.zip
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/rt-polaritydata.tar.gz
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/rt-polaritydata.README.1.0.txt
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/rt-polaritydata/
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/cifar-10-python.tar.gz
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/cifar-10-batches-py/
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/gutenberg.txt
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/deu-eng.zip
learn/tensorflow/TensorFlow Machine Learning Cookbook 2017/1. Getting Started with TensorFlow/eg/

